h1{
    text-align: center;
    text-shadow: 3px 2px gray;
    color: black;
}
body{
    background-image: url('https://media.cntraveler.com/photos/5fc6818f3cfe1de2cab79372/master/w_1920%2Cc_limit/Amsterdam-GettyImages-840603854.jpg');
    justify-content: center;
    text-align: center;
}
.card{
    border: 3px solid red;
    border-radius: 15px;
    width: 350px;
    height: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction:column;
    margin: auto;
    margin-bottom: 20px;
    font-size: 30px;
    color: black;
    background-color: rgb(228, 138, 138);


}

.card:hover{
    background-color: #90bddf;
    box-shadow: 0 0 50px #38729e;
}